# Trump Tweet EDA

The Data For this notebook is from the trump twitter archive: http://www.trumptwitterarchive.com/archive

In [1]:
import pandas as pd
import numpy as np

In [2]:
USER_NAME = 'EdenTrainor' #Configure this with your username
DATA_FILE = 'C:/Users/{}/Datalytyx/Delivery - Documents/Data Science/Data/Trump_Tweets/trump_tweets_05-11-18.csv'.format(USER_NAME)

Import the data as a pandas dataframe

In [5]:
df = pd.read_csv(DATA_FILE)

In [8]:
df.head()

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,Twitter for iPhone,Dana Rohrabacher has been a great Congressman ...,11-05-2018 05:32:10,4677,15407,False,1059317426653933568
1,Twitter for iPhone,John James running as a Republican for the Sen...,11-05-2018 05:04:53,8082,25479,False,1059310562771984390
2,Twitter for iPhone,In just 2 days the people of Tennessee are goi...,11-05-2018 02:00:06,8689,29380,False,1059264061030969344
3,Twitter for iPhone,Thank you for joining us tonight in Tennessee ...,11-05-2018 01:36:10,15660,53542,False,1059258034474704897
4,Twitter for iPhone,Great to be back in Tennessee. On our way to t...,11-04-2018 23:47:01,10104,39654,False,1059230569257680896

Check Dataset is clean:

In [11]:
#Check Id stings are all unique
df.shape[0] == len(set(df['id_str']))

True

In [13]:
#Check for empty values
df.isna().sum()

source            0
text              0
created_at        0
retweet_count     0
favorite_count    0
is_retweet        0
id_str            0
dtype: int64

####